#a1{
    position: absolute;
    width: 600px;
    height: 550px;
    left: 600px;
    top: 400px;

    background: #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 45px;
    opacity: 85%;
    
}
nav{ 
    position: absolute;
    width: 1920px;
    height: 50px;
    left: 0px;
    top: 0px;
    
    background: #3E4245;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    color:  white;
    opacity: 85%;
}
#accueil{
    position: absolute;
    left: 910px;
    top: 8px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    
}

#prenom{
    position: absolute;
    left: 103px;
    top: 8px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#exp{
    position: absolute;
    top: 8px;
    left: 1120px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#comp{
    position: absolute;
    top: 8px;
    left: 1400px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#contact{
    position: absolute;
    top: 8px;
    left: 1680px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#texta1{
    position: absolute;
    left: 25px;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#acc{
    position: absolute;
    top: -250px;
    left: 200px;
    font-size: 60px;
    color: yellow;
}
a{
    color: white;
    text-decoration:none;
}
#accueil:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: all 0.5s ease;
    z-index: -2;
} 
#accueil:hover:before {
	width: 100%;
}
#comp:before {
    background: rgba(0, 0, 0, 0.5);
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 30px;
	border-radius: 5px;
	transition: all 0.5s ease;
    z-index: -2;
} 
#comp:hover:before {
	width: 100%;
}
#exp:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: all 0.5s ease;
    z-index: -2;
} 
#exp:hover:before {
	width: 100%;
}
#contact:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: all 0.5s ease;
    z-index: -2;
} 
#contact:hover:before {
	width: 100%;
}

body{
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }  
}


*{
    margin: 0;
    padding: 0;
  }